body {
    margin: 0;
    background-color: rgb(0, 0, 0);;
    font-family: Arial;
    line-height: 1.5;
    font-size: 18px;
}

.card {
    width: 500px;
    margin: 10px auto;
    padding: 20px;

    background-color: rgb(15, 15, 15);
    box-shadow: 0 10px 25px;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
    color: #ca9b00;

}

.card-text {
    margin-top: -10px;
    font-size: 18px;
    color: rgb(133, 133, 133);
}

.card-subtitle {
    font-size: 19px;
    color: #b700ff;
    margin-bottom: -10px;
}

.card-list {
    font-size: 16;
    padding-left: 0;
    list-style-position: inside;
    color: rgb(133, 133, 133);
}
.card-simple {
    font-size: 19px;
    color: #00a2d3;
    margin-bottom: -15px;
}
.card-description {
    font-size: 16;
    list-style-position: inside;
    line-height: 1.5;
    color: rgb(133, 133, 133);
}

/*Img galery*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
